[Desktop Entry]
Type=Application
Name=语音简单控制机械臂
Exec=/usr/local/bin/voice_control.sh
Icon=/root/robot_arm/assets/icons/robot_voice.png
Terminal=false
Categories=Utility;
