[Desktop Entry]
Comment=Control the robot arm with voice commands
Type=Application
Name=Voice-controlled Robot Arm
Exec=/usr/local/bin/voice_control.sh
Icon=/root/robot_arm/assets/icons/robot_voice.png
Terminal=false
Categories=Utility;
