[Desktop Entry]
Type=Application
Name=Palm and Gesture Recognition
Name[zh_CN]=Palm and Gesture Recognition
Comment=Detect palms and hand gestures
Exec=/usr/local/bin/palm_recognition.sh
Icon=/root/robot_arm/assets/icons/palm.png
Terminal=false
Categories=Utility;
